{
  "servers": [
    {
      "host": "host",
      "port": 22,
      "user": "user",
      "pass": "pass",
      "is_mysql_DB": false, 
      "mysql_user": "root",
      "mysql_password": "password",
      "database_name": "marzban",
      "mysql_contaner_name": "marzban-mysql-1",
      "exclude": [
        "mysql"
      ],
      "var_files": "/var/lib/marzban/",
      "opt_files": "/opt/marzban/"
    }
  ]
}